body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
}

.wrapper {
    margin-right: auto;
    margin-left:  auto;
    max-width: 68rem;
    color: #212529 !important;
}

.subheader {
    padding: 0.7rem;
}

.custom-nav {
    background: #212121;
}

.video {
    width: 100%;
    height: 100%;
}

.card-video {
    padding: 1rem;
    padding-top: 0rem;
}

.video-title {
    font-size: 1.4rem;
}

.video-description {
    font-size: 1rem;
    color: #9b9b9b;
}

.sidenav-trigger {
    cursor: pointer;
}

.determinate {
    transition: width 0.25s;
}


/* navbar */

.sidenav-trigger>.material-icons
{
  font-size:2em !important;
}
.notif-min
{
/*   display:none; */
  float:right !important;
}
.Search-text
{
  color: #393939;
  font-weight:500
}